{% extends 'base.html' %}
{% load tags %}

{% block title %}
    Members
{% endblock %}

{% block content %}
<style type="text/css">
  .req{
    text-decoration: none;
    color: red;
  }
</style>
<div class="container" style="margin-top: 3%; margin-bottom: 3%">
    {% if add_success %}
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container text-center">
              <div class="alert alert-dark" style="margin-bottom: 0">
                <p style="margin-bottom: 0">{{ add_success }}</p>
                <form method="POST" action="{% url 'update_member' member.member_id %}">
                  {% csrf_token %}
                  <div>Want to print user data?</div>
                  <input type="submit" class="btn btn-success btn-sm" name="export" value="Yes" />
                  <input type="submit" class="btn btn-danger btn-sm" name="no" value="No" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'add_member' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-3">
            <img src="/media/default.jpg" class="img-fluid">
            <div class="form-group" style="padding-top: 10px;">
              <label for="photo">Upload Photo:</label>
              {{ form.photo | add_css:"form-control" }}
            </div>
            <div class="form-group">
              <label for="photo">DOB:<span class="req"> *</span></label>
              {{ form.dob }}
            </div>
            <button type="submit" class="btn btn-dark btn-block">Add</button>
          </div>
          <div class="col-md-9">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="first_name">{{ form.first_name.label }}<span class="req"> *</span></label>
                  {{ form.first_name | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="last_name">{{ form.last_name.label }}<span class="req"> *</span></label>
                  {{ form.last_name | add_css:"form-control" }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="mobile_number">{{ form.mobile_number.label }}<span class="req"> *</span></label>
                  {{ form.mobile_number | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="email">{{ form.email.label }}</label>
                  {{ form.email | add_css:"form-control" }}
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                  <label for="address">{{ form.address.label }}</label>
                  {{ form.address | add_css:"form-control" }}
                </div>
                <div class="col form-group">
                  <label for="address">{{ form.medical_history.label }}</label>
                  {{ form.medical_history | add_css:"form-control" }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="subscription_type">{{ form.subscription_type.label }}<span class="req"> *</span></label>
                  {{ form.subscription_type | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="subscription_period">{{ form.subscription_period.label }}<span class="req"> *</span></label>
                  {{ form.subscription_period | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="amount">{{ form.amount.label }}<span class="req"> *</span></label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₹</span>
                      </div>
                      {{ form.amount | add_css:"form-control" }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="fee_status">{{ form.fee_status.label }}<span class="req"> *</span></label>
                  {{ form.fee_status | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="registration_date">{{ form.registration_date.label }}<span class="req"> *</span></label>
                  {{ form.registration_date }}
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="batch">{{ form.batch.label }}<span class="req"> *</span></label>
                  {{ form.batch | add_css:"form-control" }}
                </div>
              </div>
          </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
  <script>
    $(window).on('load', function(){
      $('#modal').modal('show');
    });
  </script>
{% endblock %}
