{% extends 'base.html' %}

{% block title %}
    Members
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link  {% if not deleted %} active {% endif %}" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if deleted %} active {% endif %}" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">View All</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if not deleted %}show active{% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
      {% include "add_member.html" %}
    </div>
    <div class="tab-pane fade {% if deleted %}show active{% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      {% include "update_member.html" %}
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      {% include "view_member.html" %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $("#submit").click(function (event) {
      event.preventDefault();
      var search = $("#id_search").val();

      $.ajax({
        type: 'POST',
        url: '{% url "search_member" %}',
        data: {
          'search': search,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          var search = JSON.parse(data.search);
          var appended_html = '<table class="table table-bordered"><thead class="text-center"><tr><th>ID</th><th>Name</th><th>Edit</th><th>Delete</th></tr></thead><tbody class="text-center">';
          for (var i=0; i<search.length; i++) {
              // now each search[i] has an object within it
              var obj = search[i];  // obj is an alias for each object in the array
              //Now you can access each key-value pair like this
              var fields = obj.fields;
              var member_id = obj.pk;
              var first_name = fields.first_name;
              var last_name = fields.last_name;
              appended_html += '<tr><td>' + (i + 1) + '</td><td>' + first_name + ' ' + last_name + '</td><td><a href="/members/update/' + member_id + '/"><button class="btn btn-success">Edit</button><td><a href="/members/delete/' + member_id + '/"><button class="btn btn-danger">Delete</button></a></td></tr>';
          }
          // alert(appended_html);
          // alert('Yes');
          appended_html += '</tbody></table>';
          $('#ajax_result').html(appended_html);
        }
      });
      // return false;
    });
  </script>
{% endblock %}
