{% load tags %}
<div class="container" style="margin-top: 3%">
    {% if deleted %}
        <div class="alert alert-success">
            {{ deleted }}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-md-3 text-center">
                <label for="search">{{ search_form.search.label }}</label>
                {{ search_form.search | add_css:"form-control" }}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button type="submit" id="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div id="ajax_result" style="margin-top: 2%;"></div>
</div>
