{% extends 'base.html' %}
{% load tags %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {% if user.photo %}
          <img src="{{ user.photo.url }}" class="img-fluid">
          {% else %}
          <img src="/media/default.jpg" class="img-fluid">
          {% endif %}
          <hr>
          <h1 class="text-center">{{ user.first_name }} {{ user.last_name }}</h1>
          <hr>
          <h4 class="text-center">Member Since:<div class="alert alert-info">{{ user.admitted_on }}</div></h4>
          <hr>
          <h5 class="text-center"><strong>Mob:</strong> {{ user.mobile_number }}</h5>
        </div>
        <div class="col">
          {% if updated %}
          <div class="alert alert-success">
              {{ updated }}
          </div>
          {% endif %}
          <form method="POST" action="{% url 'update_member' user.member_id %}" style="margin-top: 2%" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col">
                  <label for="first_name">{{ form.first_name.label }}</label>
                    {{ form.first_name | add_css:"form-control" }}
                </div>
                <div class="form-group col">
                  <label for="last_name">{{ form.last_name.label }}</label>
                    {{ form.last_name | add_css:"form-control" }}
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="subscription_type">{{ form.subscription_type.label }}</label>
                    {{ form.subscription_type | add_css:"form-control" }}
                  </div>
                  <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="subscription_period">{{ form.subscription_period.label }}</label>
                    {{ form.subscription_period | add_css:"form-control" }}
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="registration_date">{{ form.registration_date.label }}</label>
                  {{ form.registration_date | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="amount">{{ form.amount.label }}</label>
                  {{ form.amount | add_css:"form-control" }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="photo">{{ form.fee_status.label }}</label>
                  {{ form.fee_status | add_css:"form-control" }}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="photo">{{ form.photo.label }}</label>
                  {{ form.photo | add_css:"form-control" }}
                </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Update" />
            </form>

            <hr>

            <div class="row text-center">
              <div class="col"><h2>Payment Details</h2></div>
            </div>

            <hr>

            {% if payments != 'No Records' %}
            <table class="table table-striped table-bordered">
              <thead class="text-center thead-dark">
                <tr>
                  <th scope="col">Payment Date</th>
                  <th scope="col">Paid For</th>
                  <th scope="col">Amount Paid</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for pays in payments %}
                  <tr>
                    <td>{{ pays.payment_date }}</td>
                    <td>{{ pays.payment_period }} Months</td>
                    <td>{{ pays.payment_amount }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <div class="row text-center">
            <div class="alert alert-warning col"> <strong>{{ payments }}</strong> </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
