{% extends 'base.html' %}

{% block content %}
    <h3>Due Today</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>Registration End</th>
                <th>Subscription Type</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members_today %}
                <tr>
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                    <td>{{ member.registration_date }}</td>
                    <td>{{ member.registration_upto }}</td>
                    <td>{{ member.get_subscription_type_display }}</td>
                    <td>
                        <a href="/members/update/{{ member.member_id }}/"><button class="btn btn-success">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="/notifications/delete/{{ member.member_id }}/"><button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h3>Due Past 5 Days</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>Registration End</th>
                <th>Subscription Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members_before %}
                <tr>
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                    <td>{{ member.registration_date }}</td>
                    <td>{{ member.registration_upto }}</td>
                    <td>{{ member.get_subscription_type_display }}</td>
                    <td>
                        <a href="/members/update/{{ member.member_id }}/"><button class="btn btn-success">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="/members/delete/{{ member.member_id }}/"><button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
{% endblock %}
